
body {
     font-family:century gothic; Century gothic Bold; Century Gothic Bold Italic, Century Gothic Italic;
     color:#424949;
     margin: 0px 5%;
     gap:10px auto;
    }

body { 
    background-image: url("../images/pinkjf.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    }


/* Header */
#navBar {
    display: flex;
    flex-direction: row;
   
  }
#logo {
    max-width: 100px;
    margin: 20px auto;
    padding: -2rem 1.5rem;
    padding-right: 1rem;
}
.name {
    text-align: flex-start;
    width: 300px;
    margin: 30px;
    font-weight:lighter;
    font-size: xx-large;
    color:#424949;
    letter-spacing: 0.5px;
}
.subHeading {
    font-weight: lighter;
    width:500px;
    margin: 30px;
    font-size: 1.5em;
    position:relative;
    top:-15%;
  }

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
  }
/* Profile and information */
.selfie {
    max-width: 200px; height:auto;
    position: ;
    margin: 1  1.5;
    padding: 0.5rem;
    border: 3px solid orange ;
    border-style: dashed;
    z-index:100px;
}

/* hero banner */
/* Grid CSS */

#heroGrid {
    margin: 0px;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
    "featuredProduct secondaryProduct"
  }
#featuredProduct {
    grid-area: featuredProduct;
   
    position: relative;
    }


/* media queries */
@media only screen and (max-width:1000px) {
    #navigation {display:none}
    #navigation {display: inline-block}
  }
  
  @media only screen and (max-width:600px) {
     #headline { position:static;
                  margin: 20px;}
    #navigation {display:none}
    #navigation {display: inline-block}
    
     #heroGrid {grid-template-areas: "featuredProduct"}  
                                     
     #projectGrid {grid-template-rows:
                    300px 300px;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: 
                    'project2'
                    'project3'
                    'project4'
                    'project5'} 
    
    }




