:root {
    --mainfont: orange;
    --greyfont: grey;
  }

body { 
    align-items: center;
     font-family:century gothic; Century gothic Bold; Century Gothic Bold Italic, Century Gothic Italic;
     color:grey}


/* Header */
#navBar {
    display: flex;
    flex-direction: row;
    color:grey;
    margin: 0px 5%;
    gap: 10px auto;
    width: 100%;
    
  }
  #navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    color: grey
  }
  #navigation h3 {
    cursor: pointer;
    text-decoration: none;   
    justify-content: flex-end;
  }
#logo {
    min-width: 150px;
    margin: 20px auto;
    padding: -2rem 1.5rem;
    padding-right: 1rem;
    
}
.name {
    text-align: flex-start;
    margin: 30px;
    width: auto;
    font-weight:lighter;
    font-size: 50px;
    color:orange;
    letter-spacing: 0.5px;
}
.subHeading {
    font-weight: lighter;
    width:auto;
    margin: 30px;
    font-size: 30px;
    position:relative;
    top:-10%;
  }


p .highlight {
  color:grey
}
p {
    color:white;
    font-size: 25px;
    position:relative;
    align-items:flex-start;
    top:5%;
    left:20px;
    margin: 20px;
    gap:10px;
}


/* hero banner */
#headline1 {
    background-color: rgba(0, 0, 0, 0.395);
    padding: 50px;
    height: 120px;
    color: rgb(26, 26, 26);
  }
#heroGrid {
    margin: 0px;
    display: grid;
    min-height: 500px;
    height: 70vh;
  
  }
#featuredProduct {
    margin: 0px;
    display: grid;
    min-height: 500px;
    height: 70vh;
    position: relative;
    background-image: url("../images/modern-colorful-landing-page-website-design-template-background-layered-paper-texture-style-vector_490655-6.webp");
    background-size: cover;

    }
/* Grid CSS */
#projectGrid {
        margin: 0px;
        display: grid;
        grid-area:stretch;
        /* background-color: rgba(0, 0, 0, 0.838); */
        grid-template-rows: 500px 500px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "project2 project3"
        "project4 project5"
        ;
      }
      #project2 { 
        grid-area: project2;
        background-image: url("../images/Restaurant-website.jpg");
        background-size: cover;
        opacity: 1;}
      
      #project3 {
        grid-area: project3;
        background-image: url("../images/Marketing-website.jpg");
        background-size: cover;
        opacity:0.5;}
      
      #project4 {
        grid-area: project4;
        background-image: url("../images/placeholder1.png");
        background-size: contain;
        opacity:0.5;
      }
      
      #project5 {
        grid-area: project5;
        background-image: url("../images/Furniture-store-website.jpg");
        background-size:cover;
        opacity:0.5;
      }

    #project2:hover {
        opacity:1.0}
    #project3:hover {
        opacity:1.0}
    #project4:hover {
        opacity:1.0}
    #project5:hover {
        opacity:1.0}
    
    #overlay {  
        grid-template-areas: "project2 project3"
        "project4 project5";
        background-color: rgba(0, 0, 0, 0.857);
        padding: 50px;
        height: 120px;
        z-index: 2;
        cursor: pointer;}

        .projectGridArea {
            display:grid;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            display: grid;
            align-content: end;
            
          }
          
          .heading {
           padding: 15px;
           grid-area: center;
           position: relative;
           bottom: 150px;
            color: White;
            font-size: 30px;
            border-bottom: 5px solid rgb(29, 29, 29) ;
            background-color: #000;
            width: 100%;
          }
          #project2:hover .heading {
            display: none;
          }
        #project3:hover .heading {
            display: none;    
        }
        #project4:hover .heading {
            opacity:1.0}
        #project5:hover .heading {
            opacity:1.0}
          .heading:hover .heading {
            opacity:1px;
          }

        #testProject:hover .heading {
          display: none;
        }

    /* Profile and information */
    .selfie {
        max-width: 200px; height:auto;
        position: ;
        margin: 1  1.5;
        padding: 0.5rem;
        border: 3px orange;
        border-style: dashed;
        z-index:100px;
    }

    /* footer */

    footer {
        background-color:white
    }
    footer .footer-container {
      margin: 0px;
      display: grid;
      grid-area:stretch;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "selfie contact social-media";
    }
    #github {
      
     
    }
    #github, #linkedin, #twitter {
      size:20px;
      cursor:pointer;
      size:10px;
    }

    

@media only screen and (max-width:1000px) {
  
    #navigation {display:none}
    #navigation {display: inline-block}
  }
  
  @media only screen and (max-width:600px) {
    
    #header {display:flex;
              justify-content:flex-start}
    #headline {position:relative;
                justify-content: flex-start;
                  margin: 20px;}
    #navigation {display:none}
    
     #heroGrid {grid-template-areas: "featuredProduct"}  
     p { display:wrap;
          }

          #headline1 {
            height: 230px;
          }
          #featuredProduct {
            min-height: auto;
            height: 50vh;
          }
                                     
     #projectGrid {grid-template-rows:
                    250px 250px 250px 250px;
                    grid-template-columns: 1fr;
                    grid-template-areas: 
                    'project2'
                    'project3'
                    'project4'
                    'project5'} 

    } 