/* Header */

.name  {
    text-align: center;
    width: 300px;
    margin: 50px auto;
}
.subHeading {
    text-align: center;
    width: 300px;
    margin: 50px auto;
  }
#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }

.selfie {
    max-width: 225px; height:auto;
    position: relative;
    margin: -2rem  1.5rem 2%;
    padding: 0.5rem;
    border: 3px solid orange ;
    border-style: dashed;
     stroke-dasharray: 5px;
     stroke-dashoffset:'';
     stroke-linecap:'square';

}

/* hero banner */




